.text__container {
  max-width: 1440px;
  padding: 140px;
  margin: 0 auto;
}

.container {
  padding: 0px;
}

.long__text {
  font-family: "Effra 700";
  font-size: 64px;
  line-height: 76px;
  color: var(--black);
}

.long__text--grey {
  font-family: "Effra 700";
  color: var(--grey-2);
}

@media screen and (max-width: 768px) {
  .long__text {
    font-size: 36px;
    line-height: 43px;
  }
}

@media screen and (max-width: 1000px) {
  .text__container {
    padding: 80px 18px;
  }
}
