.links__wrapper{
  height: max-content;
  height: 124px;
  margin-bottom: 50px;
}

.link__wrapper {
  background: var(--off-white);
  border-radius: 8px;
  width: min-content;
  padding: 32px;
  display: inline-block;
  margin: 8px;
}

.item {
  display: inline-block;
  height: 50px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 5px 0px;
}

@media screen and (max-width: 501px) {
}
