<div class="hero__container">
  <div class="hero__wrapper">
    <h1 class="hero__title">Minimize your tabs. Find the trends!</h1>
    <p class="hero__paragraph">
      Don’t let your computer memories consumes all of those browser tabs.
      Findtrend let you gathers all of your favorite website into one place.
    </p>
    <div class="btn__container">
      <button class="btn btn--green">
        <img src="./../../../assets/Icon/Get Started 🔥.svg" alt="arrow" />
      </button>
      <div class="arrow__block">
        <span class="arrow__text">All research start from here</span>
        <img
          class="ligt__arrow"
          src="./../../../assets/Icon/Arrow light.png"
          alt="arrow"
        />
      </div>
    </div>
  </div>
  <app-tabs></app-tabs>
</div>
