.tweet__image {
  max-width: 100%;
  margin: 20px 0px;
}

.platform__contnet--wrapper {
  margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .platform__contnet--wrapper {
    margin-bottom: 36px;
  }

  .tweet__image {
    margin: 8px 0px;
  }
}
