<div class="open__container">
  <div class="container text-center">
    <app-title title="Open new tabs is sh*t"></app-title>

    <div class="opentab__wrapper">
      <div class="arrow__block arrow__block--left">
        <img
          class="dark__arrow dark__arrow--left"
          src="./../../../assets/Icon/Arrow dark.png"
          alt="arrow"
        />
        <br />
        <span class="arrow__text">solution for discover a trend</span>
      </div>
      <img
        class="opentab__image"
        src="./../../../assets/Images/Tabs/tab5.png"
        alt=""
      />

      <div class="arrow__block arrow__block--right">
        <span class="arrow__text">You just need one tab now</span>
        <br />
        <img
          class="dark__arrow dark__arrow--right"
          src="./../../../assets/Icon/Arrow dark.png"
          alt="arrow"
        />
      </div>
    </div>

    <p class="open__paragraph">
      A solution for your browser tabs and don’t make your device get slower
      over time. Get ease and faster to discover a trend with just one tab.
    </p>
  </div>
</div>
