<nav class="nav__container navbar-expand-lg navbar navbar-expand-lg">
  <img
    class="nav__image"
    src="./../../../assets/Logo/Logo color.png"
    alt="logo"
  />

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">How it work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#pricing">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Solution</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          routerLink="home/register"
          routerLinkActive="btn__home-active"
          >Features</a
        >
      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse">
    <div class="">
      <app-button title="Login"  [routerLink]="['/login']"></app-button>
      <app-button
        title="Register"
        color="white"
        [routerLink]="['/register']"
      ></app-button>
    </div>
  </div>
  <app-nav-bar-small></app-nav-bar-small>
</nav>
