<div class="container">
  <div class="btn__wrapper">
    <button
      [routerLink]="['/home']"
      class="btn btn-primary rounded-pill border border-1 px-2"
    >
      Back to Home
    </button>
  </div>

  <div class="row justify-content-sm-center">
    <div class="col-xs-12 col-md-5 mt-5">
      <form
        class="row needs-validation register__form"
        [formGroup]="registerForm"
      >
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">First name</label>
          <input
            #nameInput
            type="text"
            class="form-control"
            id="validationCustom01"
            required
          />
        </div>

        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Last name</label>
          <input
            type="text"
            class="form-control"
            id="validationCustom02"
            required
          />
        </div>

        <div class="col-md-4">
          <label for="validationCustomUsername" class="form-label"
            >Username</label
          >
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input
              formControlName="user"
              type="text"
              class="form-control"
              id="validationCustomUsername"
              aria-describedby="inputGroupPrepend"
              required
            />
            <div
              class="badge bg-outline-secondary text-wrap mw-30"
              style="width: 10rem"
              *ngIf="
                registerForm.get('user')?.invalid &&
                registerForm.get('user')?.touched
              "
            >
              Please choose a username. At least 5 characters.
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <label for="validationCustom03" class="form-label">E-mail</label>
          <input
            formControlName="email"
            type="email"
            class="form-control"
            id="validationCustom03"
            placeholder="example@email.com"
            required
          />
          <div
            class="badge bg-outline-secondary text-wrap top-10 start-5 mw-100"
            style="width: 13rem"
            *ngIf="
              registerForm.get('email')?.invalid &&
              registerForm.get('email')?.touched
            "
          >
            Please provide a valid email.
          </div>
        </div>

        <div class="col-md-3">
          <label for="validationCustom04" class="form-label">City</label>
          <select class="form-select" id="validationCustom04" required>
            <option selected disabled value="">Choose...</option>
            <option value="riga">Riga</option>
            <option value="liepāja">Liepaja</option>
            <option value="ogre">Ogre</option>
            <option value="jelgava">Jelgava</option>
          </select>
        </div>

        <div class="col-md-3">
          <label for="validationCustom05" class="form-label">Zip</label>
          <input
            formControlName="zip"
            type="text"
            class="form-control"
            id="validationCustom05"
            required
          />
          <div
            class="badge bg-outline-secondary text-wrap top-10 start-5 mw-100"
            style="width: 6rem"
            placement="bottom"
            *ngIf="
              registerForm.get('zip')?.touched &&
              registerForm.get('zip')?.invalid
            "
          >
            Provide a valid zip - two letters and for numbers (LV1234).
          </div>
        </div>

        <div class="col-12">
          <div class="form-check">
            <input
              formControlName="terms"
              class="form-check-input"
              type="checkbox"
              value=""
              id="invalidCheck"
            />
            <label class="form-check-label" for="invalidCheck">
              Agree to terms and conditions
            </label>
          </div>
        </div>

        <div class="col-12">
          <button
            class="btn btn-primary rounded-pill border border-0 px-5 mt-4"
          >
            Submit
          </button>
        </div>
      </form>
    </div>

    <div class="col-sm-3 mt-5">
      <div class="green__block">
        <p class="join__paragraph">
          Minimize your <span>tabs</span>. Find the <span>trends</span>!
        </p>
      </div>
    </div>
  </div>
</div>
