.btn__wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
}

.container {
  background-color: var(--black-2);
  height: 100%;
  max-width: 1440px;
  position: relative;
}

.register__form {
  color: var(--off-white);
  font-family: "Effra 700";
  background: url(./../../../assets/Bg-hero/website.png);
  padding: 30px;
  border-radius: 16px;
  min-height: 350px;
  min-width: 200px;
  max-width: 500px;
  margin: 0 auto;
}

.green__block {
  background-color: var(--primary);
  min-height: 350px;
  border-radius: 16px;
  min-width: 200px;
  padding: 40px;
  text-align: center;
}

.join__paragraph,
.join__paragraph span {
  font-size: 34px;
  color: var(--green-2);
  font-family: "Effra 900";
}

.join__paragraph span {
  color: var(--black-2);
}

.form-check {
  margin-top: 20px;
}

.btn {
  font-family: "Effra 700";
  background-color: var(--primary);
  color: var(--black);
  border: 1px solid var(--primary);
}

.btn:hover {
  background-color: var(--black-2);
  color: var(--primary);
  transition: 0.6s;
}

@media screen and (max-width: 1000px) {
  .join__paragraph {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .green__block {
    display: none;
  }

  .register__form {
    margin-top: 50px;
  }
}
