<div class="tabs__container">
  <div class="tab__wrapper">
    <img class="tab tab4" src="./../../../assets/Images/Tabs/tab4.png" alt="" />
  </div>

  <div class="tab__wrapper">
    <img class="tab tab3" src="./../../../assets/Images/Tabs/tab3.png" alt="" />
  </div>

  <div class="tab__wrapper">
    <img class="tab tab2" src="./../../../assets/Images/Tabs/tab2.png" alt="" />
  </div>

  <div class="tab__wrapper">
    <img class="tab tab1" src="./../../../assets/Images/Tabs/tab1.png" alt="" />
  </div>
</div>
